@model Data.Domain.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = Model.Title;
}

<section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">
   			<article class="format-standard">
   				<div class="content-media">
                    <div class="post-thumb">
                        <img src="~/postImages/@(Model.Image)"> 
                    </div>  
                </div>
                <div class="primary-content">
                    <h1 class="page-title">@Model.Title</h1>	
                    <ul class="entry-meta">
                        <li class="date">@Model.UpdateTime.ToString("dd.MM.yyyy hh:mm tt")</li>						
                        <li class="cat"><a href="">@Model.AuthorName</a></li>				
                    </ul>
                    @Html.Raw(Model.Content)
                </div>
			</article>
		</div>
   	</div>
</section>