@using Data.Domain
@model PagedList.Core.PagedList<Data.Domain.Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/loginPage.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
  

    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-2"></div>
          <div class="col-lg-6 col-md-8 login-box">
              <div class="col-lg-12 login-key">
                  <i class="fa fa-key" aria-hidden="true"></i>
              </div>
              <div class="col-lg-12 login-title">
                  ADMIN PANEL
              </div>

              <div class="col-lg-12 login-form">
                  <div class="col-lg-12 login-form">
                    <form id="form5" method="post">
                          <div class="form-group">
                              <label class="form-control-label">EMAIL</label>
                              <input type="text" class="form-control" placeholder="Mail adresinizi giriniz..." name="Email">
                          </div>
                          <div class="form-group">
                              <label class="form-control-label">PASSWORD</label>
                              <input type="text" class="form-control" placeholder="Şifrenizi giriniz..." name="Password">
                          </div>

                          <div class="col-lg-12 loginbttm">
                              <div class="col-lg-6 login-btm login-text">
                                  <!-- Error Message -->
                              </div>
                              <div class="col-lg-6 login-btm login-button">
                                  <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="col-lg-3 col-md-2"></div>
          </div>
      </div>




