@model Data.Domain.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,PagedList.Core.Mvc

<div class="col-lg-8">
    <h1 class="mt-4">@Model.Title</h1>
    <p class="lead">
        by
        <a href="#">@Model.AuthorId</a>
    </p>
    <hr>
    <p>Yayın Tarihi: @Model.CreateTime</p>
    <hr>
    <img class="img-fluid rounded" src="http://@Model.Image" alt="">
    <hr>   
        @Html.Raw(Model.Content)
    <hr>
</div>
