@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button type="button" class="btn btn-success" onclick="testScript()">Test Ajax Request (Create User)</button>
</div>

<div>
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12"></div>        
    <div class="col-md-2 col-sm-12"></div>
</div>

<div>
    <br>
    <form action="/Home/CreateUser" data-ajax="true" data-ajax-failure="OnFailure" data-ajax-method="POST" data-ajax-success="Contact" id="form5" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputName">Ad</label>
            <input type="text" placeholder="Adınızı Giriniz" name="Name">
            </div>
            <div class="form-group col-md-6">
            <label for="inputLastName">Soyad</label>
            <input type="text" placeholder="Soyadınızı Giriniz" name="LastName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="text" placeholder="Mail Giriniz" name="Email">
            </div>
            <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="text" placeholder="Mail Giriniz" name="Password">
            </div>
        </div>
        
        <div class="form-group">
            @{ 
                Random rnd = new Random();
                int sayi1 = rnd.Next(1, 10);
                int sayi2 = rnd.Next(1, 10);
                int toplam =sayi1+sayi2;
            }
            <input type="text" value="@toplam" name="validationcheck" style="display:none" />
            <div class="col-xs-8">
            <input type="text" placeholder="@sayi1  + @sayi2  = ? (Lütfen Kontrol İşlemini Girin)" id="validation" name="validation" />
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

</div>
<script type="text/javascript">
     function testScript() {
        $.ajax({
            url: '/Home/Test',
            data: { kontrol: 1 },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log("başarıyla eklendi baba: " + data.message);
            },
            error: function (data) {

            }
        });
     }
     
</script>