
<div class="gradient-block"></div>	
<div class="row header-content">
    <div class="logo">
        <img src="~/images/logo.png" style="height: 100px;" alt="building">
    </div>
    <nav id="main-nav-wrap">
        <ul class="main-navigation sf-menu">
            <li class="current"><a asp-controller="Home" asp-action="Index" title="">Anasayfa</a></li>
            @* <li><a asp-controller="About" asp-action="Index" title="">Hakkımızda</a></li> *@
            <li><a asp-controller="AdminPanel" asp-action="Index" title="">AdminPanel</a></li>
        </ul>
    <div class="search-wrap">				
        <form role="search" method="get" asp-action="Index" asp-antiforgery="true" class="search-form">
            <label>
                <span class="hide-content">Ara:</span>
                <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="filter" title="Arama:" autocomplete="off">
            </label>
            <input type="submit" class="search-submit" value="Search">
        </form>
        <a href="#" id="close-search" class="close-btn">Kapat</a>
    </div> <!-- end search wrap -->	
    <div class="triggers">
        <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
        <a class="menu-toggle" href="#"><span>Menü</span></a>
    </div> <!-- end triggers -->	   		
</div>