<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>I&Others Blog Demo</title>
	<meta name="description" content="">  
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="~/css/base.css">
	<link rel="stylesheet" href="~/css/vendor.css">  
	<link rel="stylesheet" href="~/css/main.css">
	<script src="~/js/modernizr.js"></script>
	<script src="~/js/pace.min.js"></script>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body id="top">
    <header>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </header>


    @RenderBody()


    <footer>
      <div class="footer-bottom">
      	<div class="row">
      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright I&Others @DateTime.Now.Year</span> 
		         	<span>Design by <a href="http://www.iandothers.com/">I&Others</a></span>		         	
		         </div>
		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>         
	      	</div>
      	</div> 
      </div> <!-- end footer-bottom -->  
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div>




    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
     function searchPost() {
        var searchText = document.getElementById("searchText").value;
        $.ajax({
            url: '/Home/SearchPost',
            data: { searchText: searchText },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log("başarıyla eklendi baba: " + data.message);
            },
            error: function (data) {

            }
        });
     }
     
</script>