 <div class="col-md-4">
 <!-- Search Widget -->    
    <div class="card my-4">
        <form action="/Home/Index" data-ajax-update="#userList" style="height:100%;" data-ajax="true" data-ajax-failure="error" data-ajax-method="GET" id="userforms" method="get">
        <h5 class="card-header">Arama</h5>
        <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Etiket girin..." name="searchText" id="searchText">
            <span class="input-group-append">
            <button class="btn btn-secondary" type="submit" >Ara!</button>
            </span>
        </div>
        </div>
        </form>
    </div>
    
    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Kategoriler</h5>
        <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                <li>
                <a href="#">Web Design</a>
                </li>
                <li>
                <a href="#">HTML</a>
                </li>
                <li>
                <a href="#">Phyton</a>
                </li>
            </ul>
            </div>
            <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                <li>
                <a href="#">JavaScript</a>
                </li>
                <li>
                <a href="#">CSS</a>
                </li>
                <li>
                <a href="#">Delphi</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Sosya Medya Hesapları</h5>
        <div class="card-body">
        <ul class="list-unstyled mb-0">
                <li>
                <a href="#"><i class="fab fa-github"></i> Github Repo</a>
                </li>
                <li>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
            </ul>
        </div>
    </div>
 </div>